.friends-list__list{
    padding: 0;
    margin: auto;
}

.friends-list__list-item{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    margin: auto;
    width: 370px;
    justify-content: center;
    border: 1px solid var(--color-purple-200);
    border-radius: 10px;
    padding: 5px 0;
}

.friends-list__list-item__name{
    font-size: 1.5rem;    
}

.friends-list__list-item__button{
    max-width: 150px;
    margin: 0
}

.friends-list__list-item__button-request{
    margin: 0;
    width: min-content;
}