.stats-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 1000px;
}

.stat-card {
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border: 2px solid var(--color-purple-200);
}

.stat-card:hover {
  transform: translateY(-5px);
}

.stat-card h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.stat-card p {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-purple-500);
}

@media (max-width: 1000px) {
  .stats-page {
    margin-bottom: 1rem;
  }

  .username {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 0.5rem;
    max-width: 99vw;
  }

  .stat-card {
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border: 2px solid var(--color-purple-200);
  }

  .stat-card h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .stat-card p {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-purple-500);
  }
}
