.calendar {
  margin: 10px auto 0;
  font-family: "Comfortaa", sans-serif;
  width: 630px;
  border-radius: 12px;
  background-color: whitesmoke;
}

.react-calendar__tile {
  border-radius: 5px;
}

.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
  font-size: 16px;
}

.react-calendar__month-view__weekdays__weekday {
  font-size: 16px;
}
abbr[title] {
  text-decoration: none;
}

.react-calendar__tile.react-calendar__month-view__days__day {
  font-size: 14px;
}

.workout-count-1 {
  background-color: var(--color-purple-100);
}
.workout-count-2 {
  background-color: var(--color-purple-200);
}
.workout-count-3 {
  background-color: var(--color-purple-300);
}
.workout-count-4 {
  background-color: var(--color-purple-400);
}
.workout-count-5 {
  background-color: var(--color-purple-500);
}

@media (max-width: 1000px) {
  .calendar {
    width: 99%;
  }
}
