.footer {
  padding: 30px 20px;
  color: var(--color-white);
  text-align: center;
  background-color: #2E003E;
  flex-shrink: 0;
}

.footer__text {
  display: flex;
  justify-content: center;
  gap: 7px;
}

.footer__icon {
  width: 16px;
}